.usernameRow{
  margin-top: 18%;
}
.passwordRow{
  margin-top: 10%;
}

.loginBtn{
  margin-top: 5%;
}

.socialLoginBtn{
  height: 80px !important;
  width: 160px !important;
  color: white;
  background: transparent;

}

.smIcon{
  width: 42px;
}

p.socialLoginIntro{
  font-size: 0.6em;
  text-align: left;
  font-weight: 400;
}

.socialLoginBox{
  text-align: left;
  margin-top: 30%;
}


@media all and (max-width: 430px) {
  .socialLoginBtn{
    width:48.5% !important;
  }
}

@media all
and (min-width : 1200px)
and (max-width : 1300px){
  .socialLoginBtn{
    width: 145px !important;
  }
}
@media all and (max-width: 1200px) {
  .loginNameBox, .loginPasswordBox{
    width: 100%;
  }
  .usernameRow{
    margin-top: 30% !important;
  }
  .socialLoginBtn{
    width:48.5% !important;
  }
  .socialLoginBox{
    margin-top: 10%;
  }
}

@media all
and (max-width : 1200px)
and (orientation : landscape) {
  .usernameRow{
    margin-top: 8% !important;
  }
  .passwordRow{
    margin-top: 5% !important;
  }

  .loginBtn{
    margin-top: 3% !important;
  }
  .socialLoginBox{
    margin-top: 15%;
  }
}
@media all
and (max-width : 800px)
and (orientation : landscape){
  .loginForm{
    font-size: 1.5em;
  }
  .usernameRow{
    margin-top: 3% !important;
  }
  .passwordRow{
    margin-top: 1% !important;
  }

  .loginBtn .socialLoginBtn{
    margin-top: 1% !important;
  }
  .socialLoginBox{
    margin-top: 5%;
  }
  .btnColor{
    height: 40px !important;
  }
}
