<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title><%=title%></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css"> -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/mainView/profile.min.css">
    <link rel="stylesheet" href="/stylesheets/mainView/list.min.css">
    <link rel="stylesheet" href="/stylesheets/mainView/match.min.css">
    <link rel="stylesheet" href="/stylesheets/mainView/ads.min.css">

    <link rel="stylesheet prefetch" href="//fonts.googleapis.com/css?family=Roboto" type="text/css">
    <link rel="stylesheet prefetch" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow" type="text/css">
    <link rel="stylesheet prefetch" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" type="text/css">

    <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  </head>


  <body>

    <header>
      <div class="container clearfix">
        <image src="/images/tinGrindr.png" id="tinGrindrLetter" onclick="location.href = '/home';">
        <nav>
          <a href=""><i class="material-icons chatIcon">question_answer</i></a>
          <button id="faceIcon" style="background-image: url('<%=currentUser.photoUrl%>')" onclick="location.href = '/profile/';"></button>
        </nav>
    </header>

    <div class="screen mdl-layout mdl-js-layout has-drawer is-upgraded">

      <main class="mdl-layout__content" style="width:100% !important;">

        <%- body %>

      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
          <a target="_blank" href="http://www.linkedin.com/in/deokj">
            <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin"></button>
          </a>
          <a target="_blank" href="https://www.instagram.com/deokjj">
            <button class="mdl-mini-footer--social-btn social-btn social-btn__instagram"></button>
          </a>
          <a target="_blank" href="https://github.com/Deokjj">
            <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus"></button>
          </a>
        </div>
        <div class="mdl-mini-footer--right-section">
          <button class="mdl-mini-footer--social-btn social-btn__share">
            <i class="material-icons" role="presentation">share</i>
            <span class="visuallyhidden">share</span>
          </button>
        </div>
      </footer>
      </main>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/main/cookie.js"></script>
    <script src="/javascripts/main/swing.js"></script>
    <script src="/javascripts/main/match.js"></script>
    <script src="/javascripts/main/clickNdrag.js"></script>
  </body>
</html>
