$mainColor : rgba(253, 92, 99,0.6);
$darkMainColor: #8B0000;
$font: rgb(105,105,105);
//Only Applied to profileView class
.profileView{
  color: $font;
  .profilePic{
    background-position: center;
    background-size: cover;
    border-radius: 5%;
  }
  .bigBox{
    width:100%;
    padding: 0 15%;
    box-sizing: border-box;
  }

  p{
    margin-bottom: 5px;
  }

  input{
    border: none;
  }

  #nameInput{
    font-size: 2.5em;
    color:black;
  }

  .ageDisplay,
  .genderDisplay{
    font-size: 1.6em;
  }

  a, button{
    width: 100%;
    padding: 0;
    background : linear-gradient(45deg, rgba(253,92,99,0.6), rgba(139,0,0,0.6));
    // background-color: $mainColor;
    color: white;
  }

  .cookieIcon{
      width: 30px;
  }

  .introTextBox{
    width: 100%;
  }

  textarea#introInput,
  label.introLabel {
    font-size: 1.4em;
  }

  .mdl-textfield__label:after{
    background : linear-gradient(45deg, rgba(253,92,99,0.7), rgba(139,0,0,0.7));
    // background-color: $mainColor;
  }

  ._15Padding{
    padding:0 15%;
  }
  //mobile
  @media all and (max-width: 660px) {
    .btnPadding{
      padding: 0;
    }
    .bigBox{
      padding: 0;
    }
  }
}//profileView Ends
