

<main>
  <div id="titleLogo">
    <image src="/images/grindrLogo.png" class= "titleLogo" id="grindrLogo">
    <image src="/images/tinderLogo.png" class= "titleLogo" id="tinderLogo">
  </div>
  <p class="intro">
    An Ultimate Dating Website
  </p>

  <div class="signButtons">
    <a href="/signUp">
      <button class="mdc-button mdc-button--raised signButton signupBtn btnColor">
        Sign Up
      </button>
    </a>

    <a href="/logIn">
      <button type="submit" class="mdc-button mdc-button--raised signButton btnColor">
        Log In
      </button>
    </a>
  </div>

  <i class="material-icons arrowIcon">keyboard_arrow_down</i>

</main>

<div class ="appIntro mdl-grid">
  <div class="mdl-card mdl-cell mdl-cell--3-col-desktop">
    <i class="material-icons" style="text-shadow: rgb(179, 179, 179) 0px 0px 0px, rgb(186, 186, 186) 1px 1px 0px, rgb(194, 194, 194) 2px 2px 0px, rgb(201, 201, 201) 3px 3px 0px, rgb(209, 209, 209) 4px 4px 0px, rgb(217, 217, 217) 5px 5px 0px; font-size: 150px; color: rgb(253, 92, 99); height: 160px; width: 100%; line-height: 150px; border-radius: 0%; text-align: center; background-color: rgb(255, 255, 255);">
      vibration</i>
    <p>Swipe to Match</p>
    <span>swipe til you match for a date</span>
  </div>
  <div class="mdl-card mdl-cell mdl-cell--3-col-desktop">
    <i class="material-icons" style="text-shadow: rgb(179, 179, 179) 0px 0px 0px, rgb(186, 186, 186) 1px 1px 0px, rgb(194, 194, 194) 2px 2px 0px, rgb(201, 201, 201) 3px 3px 0px, rgb(209, 209, 209) 4px 4px 0px, rgb(217, 217, 217) 5px 5px 0px; font-size: 150px; color: rgb(253, 92, 99); height: 160px; width: 100%; line-height: 150px; border-radius: 0%; text-align: center; background-color: rgb(255, 255, 255);">
      view_comfy</i>
    <p>View Grid Style</p>
    <span>See who's near you</span>
  </div>
  <div class="mdl-card mdl-cell mdl-cell--3-col-desktop">
    <i class="material-icons" style="text-shadow: rgb(179, 179, 179) 0px 0px 0px, rgb(186, 186, 186) 1px 1px 0px, rgb(194, 194, 194) 2px 2px 0px, rgb(201, 201, 201) 3px 3px 0px, rgb(209, 209, 209) 4px 4px 0px, rgb(217, 217, 217) 5px 5px 0px; font-size: 150px; color: rgb(253, 92, 99); height: 160px; width: 100%; line-height: 150px; border-radius: 0%; text-align: center; background-color: rgb(255, 255, 255);">
      all_inclusive</i>
    <p>Inclusive and P.C.</p>
    <span>It's 2017. We have created a dating space for ALL</span>
  </div>
  <div class="mdl-card mdl-cell mdl-cell--3-col-desktop">
    <i class="material-icons" style="text-shadow: rgb(179, 179, 179) 0px 0px 0px, rgb(186, 186, 186) 1px 1px 0px, rgb(194, 194, 194) 2px 2px 0px, rgb(201, 201, 201) 3px 3px 0px, rgb(209, 209, 209) 4px 4px 0px, rgb(217, 217, 217) 5px 5px 0px; font-size: 150px; color: rgb(253, 92, 99); height: 160px; width: 100%; line-height: 150px; border-radius: 0%; text-align: center; background-color: rgb(255, 255, 255);">
      devices</i>
    <p>Responsive App</p>
    <span>Absolutely responsive across all your devices</span>
  </div>
</div>

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <a target="_blank" href="http://www.linkedin.com/in/deokj">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin"></button>
    </a>
    <a target="_blank" href="https://www.instagram.com/deokjj">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__instagram"></button>
    </a>
    <a target="_blank" href="https://github.com/Deokjj">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus"></button>
    </a>
  </div>
  <div class="mdl-mini-footer--right-section">
    <button class="mdl-mini-footer--social-btn social-btn__share">
      <i class="material-icons" role="presentation">share</i>
      <span class="visuallyhidden">share</span>
    </button>
  </div>
</footer>
