<main class="signForm loginForm mdl-grid">
  <form method="post" action="/login" class="mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

    <div class="loginNameBox">
      <!-- UserName -->
      <div class="usernameRow">
       <label for="usernameInput"> Username </label><br>
       <input  id="usernameInput" type="text" name="usernameInput">
      </div>
      <!-- Password -->
      <div class="passwordRow">
       <label for="passwordInput"> Password </label><br>
       <input  id="passwordInput" type="password" name="passwordInput">
      </div>

      <button class ='mdc-button mdc-button--raised submitBtn loginBtn btnColor'> Log In </button>
    </div>

   </form>

   <div class="mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone loginPasswordBox">
     <div class="socialLoginBox">
       <p class="socialLoginIntro">
         <span style="margin-left:-10px;"></span>Or Log in with..</p>
       <button id="facebookLoginBtn" class="mdc-button mdc-button--raised socialLoginBtn btnColor">
         <img src="images/facebook.png" class="smIcon">
       </button>
       <button id="googleLoginBtn" class="mdc-button mdc-button--raised socialLoginBtn btnColor">
         <img src="images/google-plus.png" class="smIcon">
       </button>
     </div>
   </div>
</main>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
